@mixin font-alegreya() {
  font-family: 'Alegreya', serif;
}
@mixin font-crimson() {
  font-family: 'Crimson Text', serif;
}
@mixin font-work() {
  font-family: 'Work Sans', sans-serif;
}
@mixin font-amiri() {
  font-family: 'Amiri', serif;
}