/*
font-family: 'Play', sans-serif;
font-family: 'Inconsolata';
font-family: 'Ubuntu Condensed', sans-serif;
font-family: 'PT Sans', sans-serif;
*/

.background-img {
  width: 100%;
  height: 100%;
  background-image: url('../images/rappeling-hand-out-modal-style-cropped.jpg');
  background-size: cover;
  position: fixed;
}

body {
  text-shadow: 0px 0px 1px black;
  font-family: 'Inconsolata';
  background-color: white;
}

.contact-links {
  margin-bottom: 100px;
}

.hidden {
  display: none;
}

img.at-sign {
  max-width: 82px;
}

img.gdocs {
  max-width: 87px;
  margin-left: 13px;
}

img.github {
  max-width: 105;
}

img.linkedin {
  max-width: 140px;
}

#content {
  width: 100%;
  height: 100%;
}

.cover-container {
  width: 100%;
}

/*.dark-cover {
  background-color: black;
}*/

.front-view {
  width: 100%;
  height: 100%;
}

.headshot img {
  border-radius: 10px;
}

.hover-title {
  position: absolute;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  font-size: 20pt;
  padding-top: 15%;
  background-color: rgba(0,0,0,0.70);
  transition: all 0.5s ease-out;
}

.hover-title.fosterpals {
  font-family: 'Ubuntu Condensed', sans-serif;
}

.hover-title.space {
  font-family: 'Play', sans-serif;
}

iframe.resume {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

img {
  max-width: 200px;
}

.masthead.clearfix {
  width: 100%;
}

.move-left {
  transform: translateX(-100%);
  opacity: 0.0;
}

p.lead {
  width: 46%;
  margin-left: auto;
  margin-right: auto;
}

.projects .project {
  width: 100%%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 30%;
  padding-right: 30%;
}

.project img {
  border-radius: 10px;
}

.project-img {
  float: left;
  position: relative;
}

.project p {
  text-align: left;
  float: right;
  width: 41%;
}

section.splash {
  margin-top: 28px;
}

body .site-wrapper {
  box-shadow: inset 0 0 186px rgba(0,0,0,1);
  position: absolute;
  display: block;
  overflow: auto;
}

.site-wrapper-inner {
  display: block;
  padding-top: 6%;
}

.splash {
  font-family: 'Inconsolata';
}
