@import '_variables';
@import '_fonts';

body {
  background-color: $background-color-main;
  color: $main-color;
  @include font-work();
}

main {
  padding-top: 4em;
}

aside {
  background: white;
  color: black;
  height: inherit;
  text-align: right;

  h1 {
    font-weight: 600;
    @include font-amiri();
    margin-bottom: 0;
  }

  .occupation {
    font-weight: 600;
    font-size: 20px;
    padding-left: 2em;
  }
}

.sidebar {
  padding-left: 4em;
  padding-top: 4em;
}

a {
  color: black;
  &:hover {
    color: #0056b3;
    text-decoration: none;
  }
}

h2 {
  text-align: left;
  // font-weight: 800;
  // @include font-crimson;
}

h3 {
  font-size: 1.6em;
  @include font-crimson;
}

section {
  text-align: center;
}

.projects {
  img {
    width: 60%;
  }
  .project {
    margin: 4em 0;
  }
}

.hero {
  height: 300px;
}

.skill-set {
  height: 300px;
}