// Core variables and mixins
@import 'variables.scss';
@import 'mixins.scss';
// Global CSS
@import 'global.scss';
@import 'nav.scss';
@import 'resume-item.scss';
@import 'bootstrap-overrides.scss';
@import 'media-query-overrides.scss';

// Components
.relevant-courses {
  font-size: 1em;
  ul {
    font-size: 0.9em;

    li {
      list-style-type: none;
    }
  }
}

#projects {
  img {
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    object-fit: cover;
  }

  .content {
    .header {
      color: $gray-400;
    }
    .devicon-github-plain {
      color: $gray-600;
    }
    a {
      text-decoration-line: none;
    }
  }

  .resume-item {
    margin-bottom: 5em;
  }
}

.code-text {
  color: $monokai-red;

  .btn-dark:hover & {
    color: $monokai-red;
    // backcolor: $white;
  }
}

.email {
  line-height: 1.2em;
  font-size: 1.5em;
}

.built-description {
  font-size: 1.2em;
}